body
{
	background-color: #eef;
}
.menu-list1
{

}
.menu-list1 ul
{

}
.menu-list1 ul li
{
	list-style: none; 
	border-bottom: 1px solid #eef;
	padding-bottom: 10px;
	font-family: tahoma;
	font-size: medium;
	padding-top: 20px;
}
.menu-list1 ul li a
{
	
}